<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-lorus-dark-hash text-white mr-2">
      <i class="mdi mdi-home"></i>                 
    </span>
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview
        <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>
<!-- <div class="row p-0 proBanner grid-margin mx-0" id="proBanner"> -->
  <!-- <div class="col-md-12 p-0">
    <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
      <div class="ps-lg-1">
        <div class="d-flex align-items-center justify-content-between">
          <p class="mb-0 font-weight-medium mr-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
          <a href="https://www.bootstrapdash.com/product/purple-angular/?utm_source=navbar&utm_medium=productdemo&utm_campaign=getpro" target="_blank" class="btn mr-2 buy-now-btn border-0">Buy Now</a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <a href="https://www.bootstrapdash.com/product/purple-angular/"><i class="mdi mdi-home mr-3 text-white"></i></a>
        <button id="bannerClose" class="btn border-0 p-0" (click)="toggleProBanner()">
          <i class="mdi mdi-close text-white mr-0"></i>
        </button>
      </div>
    </div>
  </div> -->
<!-- </div> -->
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Hello
          <i class="mdi mdi-clock mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{greeting}}</h2>
        <!-- <h6 class="card-text">Increased by 60%</h6> -->
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                  
        <h4 class="font-weight-normal mb-3">Present Days
          <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <span *ngIf="isAttendanceLoading">
          <span class="float-center">
            <div class="dot-opacity-loader" >
              <span></span>
              <span></span>
              <span></span>
            </div>
          </span>
        </span>
        <h2 class="mb-5" *ngIf="(attendanceList.length === 0 && isAttendanceLoading)">No Records Found</h2>
        <h2 class="mb-5" *ngIf="attendanceList.length > 0">{{presentDaysCount}}</h2>
        <h6 class="card-text">This Month</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>                                    
        <h4 class="font-weight-normal mb-3">Absent Days
          <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">{{absentDaysCount}}</h2>
        <h6 class="card-text">This Month</h6>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-between">
          <h4 class="card-title">Visit And Sales Statistics</h4>
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal">
            <ul>
              <li>
                <span class="legend-dots"></span>CHN
              </li>
              <li>
                <span class="legend-dots"></span>USA
              </li>
              <li class="mr-0">
                <span class="legend-dots"></span>UK
              </li>
            </ul>
          </div>
        </div>
        <canvas baseChart #visitSaleChart [chartType]="'bar'" [datasets]="visitSaleChartData" [labels]="visitSaleChartLabels" [options]="visitSaleChartOptions" [colors]="visitSaleChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Traffic Sources</h4>
        <canvas baseChart [chartType]="'doughnut'" [datasets]="trafficChartData" [labels]="trafficChartLabels" [options]="trafficChartOptions" [colors]="trafficChartColors"></canvas>
        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
          <ul>
            <li>
              <span class="legend-dots"></span>Search Engines
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Direct Click
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Bookmarks Click
              <span class="float-right">40%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div> -->

<div class="row">
  
  <!-- <div class="col-md-4 h-100">
    <div class="bg-light p-4">
      <h6 class="card-title">My Team Absent</h6>
      <div class="card-ht">
        <div class="py-2 cus-scroll-bar">
          <div class="card rounded mb-2" *ngFor="let item of birthDayList">
            <div class="card-body p-3">
              <div class="media" >
                <img [src]="'data:image/jpg;base64,'+item.imagename" alt="image" class="img-sm mr-3 rounded-circle">
                <div class="media-body">
                  <h6 class="mb-1">{{item.emp_name}}</h6>
                  <p class="mb-0 text-muted">
                    {{item.desigdesc}}                              
                  </p>
                </div>                              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-md-5 h-100">
    <div class="bg-light p-4">
      <h6 class="card-title">Birth Days</h6>
      <div class="card-ht">
        <div class="py-2 cus-scroll-bar">
          <div class="card rounded mb-2" *ngFor="let item of birthDayList">
            <div class="card-body p-3">
              <div class="media" >
                <img [src]="'data:image/jpg;base64,'+item.imagename" alt="image" class="img-sm mr-3 rounded-circle">
                <div class="media-body">
                  <h6 class="mb-1">{{item.emp_name}}</h6>
                  <p class="mb-0 text-muted">
                    {{item.desigdesc}}                              
                  </p>
                </div>                              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 h-100">
    <div class="bg-light p-4">
      <h6 class="card-title">Holidays</h6>
      <div class="card-ht">
        <div class="py-2 cus-scroll-bar">
          <div class="timeline" *ngIf="holidayList.length > 0">
            
            <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[0].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[0].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                   
                    <span class="ml-md-auto font-weight-bold">{{holidayList[0].holiday}}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-wrapper-success">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[1].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[1].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                    <span class="ml-md-auto font-weight-bold">{{holidayList[1].holiday}}</span>
                </div>
              </div>
            </div>
           
            <div class="timeline-wrapper timeline-inverted timeline-wrapper-info">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[2].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[2].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                   
                    <span class="ml-md-auto font-weight-bold">{{holidayList[2].holiday}}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-wrapper-primary">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[3].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[3].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                    <span class="ml-md-auto font-weight-bold">{{holidayList[3].holiday}}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-inverted timeline-wrapper-success">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[4].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[4].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                   
                    <span class="ml-md-auto font-weight-bold">{{holidayList[4].holiday}}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-wrapper-warning">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[5].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[5].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                    <span class="ml-md-auto font-weight-bold">{{holidayList[5].holiday}}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[6].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[6].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                   
                    <span class="ml-md-auto font-weight-bold">{{holidayList[6].holiday}}</span>
                </div>
              </div>
            </div>
            <div class="timeline-wrapper timeline-wrapper-success">
              <div class="timeline-badge"></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h6 class="timeline-title">{{holidayList[7].holidayname}}</h6>
                </div>
                <div class="timeline-body">
                  <p>{{holidayList[7].weekday}}</p>
                </div>
                <div class="timeline-footer d-flex align-items-center flex-wrap">
                    <i class="mdi mdi-calender text-muted me-1"></i>
                    <span class="ml-md-auto font-weight-bold">{{holidayList[7].holiday}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Tickets</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Assignee
                </th>
                <th>
                  Subject
                </th>
                <th>
                  Status
                </th>
                <th>
                  Last Update
                </th>
                <th>
                  Tracking ID
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                  David Grey
                </td>
                <td>
                  Fund is not recieved
                </td>
                <td>
                  <label class="badge badge-gradient-success">DONE</label>
                </td>
                <td>
                  Dec 5, 2017
                </td>
                <td>
                  WD-12345
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/faces/face2.jpg" class="mr-2" alt="image">
                  Stella Johnson
                </td>
                <td>
                  High loading time
                </td>
                <td>
                  <label class="badge badge-gradient-warning">PROGRESS</label>
                </td>
                <td>
                  Dec 12, 2017
                </td>
                <td>
                  WD-12346
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image">
                  Marina Michel
                </td>
                <td>
                  Website down for one week
                </td>
                <td>
                  <label class="badge badge-gradient-info">ON HOLD</label>
                </td>
                <td>
                  Dec 16, 2017
                </td>
                <td>
                  WD-12347
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">
                  John Doe
                </td>
                <td>
                  Loosing control on server
                </td>
                <td>
                  <label class="badge badge-gradient-danger">REJECTED</label>
                </td>
                <td>
                  Dec 3, 2017
                </td>
                <td>
                  WD-12348
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col-md-5 grid-margin stretch-card">
    <div class="card custom-dashboard">
        <ngb-datepicker #dp [(ngModel)]="date" (navigate)="date = $event.next" class="w-100 border-0"></ngb-datepicker>
    </div>
  </div>
  <div class="col-md-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Recent Updates</h4>
        <div class="d-flex">
          <div class="d-flex align-items-center mr-4 text-muted font-weight-light">
            <i class="mdi mdi-account-outline icon-sm mr-2"></i>
            <span>jack Menqu</span>
          </div>
          <div class="d-flex align-items-center text-muted font-weight-light">
            <i class="mdi mdi-clock icon-sm mr-2"></i>
            <span>October 3rd, 2018</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 pr-1">
            <img src="assets/images/dashboard/img_1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
            <img src="assets/images/dashboard/img_4.jpg" class="mw-100 w-100 rounded" alt="image">
          </div>
          <div class="col-6 pl-1">
            <img src="assets/images/dashboard/img_2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
            <img src="assets/images/dashboard/img_3.jpg" class="mw-100 w-100 rounded" alt="image">
          </div>
        </div>
        <div class="d-flex mt-5 align-items-top">
          <img src="assets/images/faces/face3.jpg" class="img-sm rounded-circle mr-3" alt="image">
          <div class="mb-0 flex-grow">
            <h5 class="mr-2 mb-2">School Website - Authentication Module.</h5>
            <p class="mb-0 font-weight-light">It is a long established fact that a reader will be distracted by the readable
              content of a page.</p>
          </div>
          <div class="ml-auto">
            <i class="mdi mdi-heart-outline text-muted"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
